<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minhas Candidaturas</title>
    <link rel="stylesheet" th:href="@{/candidaturas.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">


    <h1>Minhas Candidaturas</h1>

    <div th:each="c : ${candidaturas}" class="card">

        <!-- Cabeçalho com Cargo + Match -->
        <div class="header">
            <h2 th:text="${c.vaga.cargo}">Cargo</h2>
            <span class="match">Match: <span th:text="${c.vaga.match}"></span></span>
        </div>

        <!-- 2 colunas -->
        <div class="grid">

            <!-- Coluna 1 -->
            <div>
                <p><strong>Empresa:</strong>
                    <span th:text="${c.vaga.empresa.nome}"></span>
                </p>

                <p><strong>Salário:</strong> R$
                    <span th:text="${c.vaga.salario}"></span>
                </p>

                <p><strong>Data limite:</strong>
                    <span th:text="${#dates.format(c.vaga.dataFim, 'dd/MM/yyyy')}"></span>
                </p>

                <p><strong>Modelo:</strong>
                    <span th:text="${c.vaga.modeloTrabalho}"></span>
                </p>
            </div>

            <!-- Coluna 2 -->
            <div>
                <p><strong>Formação:</strong>
                    <span th:text="${c.vaga.formacao}"></span>
                </p>

                <p><strong>Estado:</strong>
                    <span th:text="${c.vaga.estado}"></span>
                </p>

                <p><strong>Experiência:</strong>
                    <span th:text="${c.vaga.experiencia}"></span> anos
                </p>

                <p><strong>Inglês:</strong>
                    <span th:text="${c.vaga.nivelIngles}"></span>
                </p>
            </div>

        </div>

        <!-- Skills -->
        <div class="skills">
            <strong>Skills:</strong><br>
            <div class="habilidades">
                <div th:each="skill : ${c.vaga.skills}">
                    <span class="skill-tag" th:text="${skill}"></span>
                </div>
            </div>

        </div>

        <!-- Data da candidatura -->
        <p style="margin-top: 15px;">
            <strong>Data da Candidatura:</strong>
            <span th:text="${#dates.format(c.dataCandidatura, 'dd/MM/yyyy')}"></span>
        </p>

        <!-- Botão -->
        <a th:href="@{/web/candidaturas/excluir/{id}(id=${c.id})}"
           onclick="return confirm('Tem certeza que deseja desistir desta vaga?');"
           class="btn-cancelar">
            Cancelar inscrição
        </a>

    </div>

</div>


</body>
</html>
