<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currículo</title>
    <link rel="stylesheet" th:href="@{/curriculo.css}">
</head>
<body>

<div th:if="${param.sucesso}">
    <script>
        alert("Currículo salvo com sucesso!");
    </script>
</div>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Currículo</h1>

    <div class="card">

        <form th:action="@{/web/curriculos/salvar}" th:object="${curriculo}" method="post">

            <input type="hidden" th:field="*{id}" />

            <!-- Formação -->
            <label>Formação:</label>
            <select th:field="*{formacao}" required>
                <option value="">Selecione uma opção</option>
                <option th:each="f : ${formacoes}" th:value="${f}" th:text="${f}"></option>
            </select>

            <!-- Experiência -->
            <label>Anos de Experiência:</label>
            <input type="number" th:field="*{experiencia}" required min="0"/>

            <!-- Nível de Inglês -->
            <label>Nível de Inglês:</label>
            <select th:field="*{nivelIngles}" required>
                <option value="">Selecione uma opção</option>
                <option th:each="n : ${niveisIngles}" th:value="${n}" th:text="${n}"></option>
            </select>

            <!-- Estado -->
            <label>Estado:</label>
            <select th:field="*{estado}" required>
                <option value="">Selecione uma opção</option>
                <option th:each="e : ${estados}" th:value="${e}" th:text="${e}"></option>
            </select>

            <!-- Skills -->
            <label>Skills (separadas por vírgula):</label>
            <input type="text"
                   th:value="${#strings.listJoin(curriculo.skills, ', ')}"
                   name="skillsString"
                   required />

            <!-- Usuário vinculado -->
            <input type="hidden" th:field="*{usuario.id}" />

            <!-- Botão -->
            <button type="submit">Salvar</button>
        </form>

    </div>
</div>

</body>
</html>
