<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/auth.css}">
</head>
<body>

<div th:if="${param.sucesso}">
    <script>
        alert("Cadastro realizado com com sucesso!");
    </script>
</div>

<div class="container">

    <h2 class="title">Login</h2>

    <img th:src="@{/img/logo.png}" alt="logo">

    <form th:action="@{/web/login}" method="post" class="form">

        <label for="username">Email</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Entrar</button>

        <div th:if="${param.error}" class="alert">
            Email ou senha inválidos
        </div>

        <div th:if="${param.logout}" class="alert success">
            Logout realizado com sucesso!
        </div>

    </form>

    <p>
        Não tem cadastro?
        <a th:href="@{/web/cadastro}">Clique aqui</a>
    </p>

</div>

</body>
</html>