<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vagas Disponíveis</title>
    <link rel="stylesheet" th:href="@{/vagas.css}">
</head>

<body>
<div th:if="${param.sucesso}">
    <script>
        alert("Candidatura realizada com sucesso!");
    </script>
</div>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>Vagas Disponíveis</h1>

    <div th:each="vaga : ${vagas}" class="vaga-card">

        <!-- Cabeçalho: Nome da vaga + Match -->
        <div class="vaga-header">
            <h2 th:text="${vaga.cargo}">Cargo</h2>
            <span class="match-label">Match: <span th:text="${vaga.match}"></span></span>
        </div>

        <!-- GRID em 2 colunas -->
        <div class="vaga-grid">

            <!-- Coluna ESQUERDA -->
            <div class="vaga-item">
                <p><strong>Empresa:</strong> <span th:text="${vaga.empresa.nome}"></span></p>
                <p><strong>Salário:</strong> R$ <span th:text="${vaga.salario}"></span></p>
                <p><strong>Data limite:</strong> <span th:text="${#dates.format(vaga.dataFim, 'dd/MM/yyyy')}"></span></p>
                <p><strong>Modelo:</strong> <span th:text="${vaga.modeloTrabalho}"></span></p>
            </div>

            <!-- Coluna DIREITA -->
            <div class="vaga-item">
                <p><strong>Formação:</strong> <span th:text="${vaga.formacao}"></span></p>
                <p><strong>Estado:</strong> <span th:text="${vaga.estado}"></span></p>
                <p><strong>Experiência:</strong> <span th:text="${vaga.experiencia}"></span> anos</p>
                <p><strong>Inglês:</strong> <span th:text="${vaga.nivelIngles}"></span></p>
            </div>

        </div>

        <!-- Skills -->
        <div class="skills">
            <strong>Skills:</strong><br>
            <div class="habilidades">
                <div th:each="skill : ${vaga.skills}">
                    <span class="skill-tag" th:text="${skill}"></span>
                </div>
            </div>

        </div>

        <!-- Botão -->
        <form th:action="@{'/web/candidaturas/' + ${vaga.id} + '/inscrever'}"
              method="post">
            <button class="botao" type="submit">Candidatar-se</button>
        </form>


    </div>

</div>
</body>
</html>
