body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 430px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    text-align: center;
}

h2.title {
    margin-bottom: 20px;
    color: #333;
    font-size: 26px;
}

img {
    width: 250px;
    margin-bottom: 20px;
}

form {
    text-align: left;
    margin-top: 10px;
}

label {
    font-weight: bold;
    color: #444;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 12px;
    box-sizing: border-box; /* ← Alinha com o botão */
}


button {
    width: 100%;
    background-color: #23a8f2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1772a5;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

.alert {
    margin-top: 12px;
    padding: 10px;
    background: #ffcccc;
    color: #a30000;
    border-radius: 6px;
    text-align: center;
}

.success {
    background: #c9f5d5;
    color: #0e7a2f;
}

a {
    color: #23a8f2;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
