body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    padding: 20px;
    background: #fff;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #444;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}



.skills-container {
    margin-top: 10px;
}

.skill-tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    margin-right: 8px;
    margin-top: 5px;
    font-size: 13px;
}

button {
    background-color: #23a8f2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #1772a5;
}

.alert {
    background-color: #23a8f2;
    color: white;
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    border-radius: 6px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 0 20px 0; /* garante alinhamento */
    font-size: 14px;
}

input[name="skillsString"] {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}